{% extends "layout.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/admin.js')}}"></script>
{% endblock %}

{% block content %}
<div id="content-admin" class="content-text">
  <h1>Admin-Interface</h1>
  <table class="visible sortable table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Bauherr</th>
        <th>Bauunternehmen</th>
        <th>Ort</th>
        <th>Funktionen</th>
        <th>Quelle</th>
        <th>Start</th>
        <th>Ende</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Bauherr</th>
        <th>Bauunternehmen</th>
        <th>Ort</th>
        <th>Funktionen</th>
        <th>Quelle</th>
        <th>Start</th>
        <th>Ende</th>
      </tr>
    </tfoot>
    <tbody>
      {% for construction in constructions %}
      <tr>
        <td>{{ construction.id }}</td>
        <td>{{ construction.title }}</td>
        <td>{{ construction.descr }}</td>
        <td>{{ construction.reason }}</td>
        <td>{{ construction.constructor }}</td>
        <td>{{ construction.execution }}</td>
        <td>{{ construction.position_descr }}</td>
        <td>{{ construction.source }}</td>
        <td>{{ construction.begin }}</td>
        <td>{{ construction.end }}</td>
        <td>{{ tree.author }}<br /><a href="mailto:{{ tree.email }}">{{ tree.email }}</a></td>
        <!-- <td class="admin-action"><span onclick="update_value($(this), {'type': 'update', 'tree_id': {{ tree.id }}, 'field': 'public', 'value': '{{ '0' if tree.public else '1' }}' });">{{ 'depublizieren' if tree.public else 'publizieren' }}</span></td> -->
      </tr>
      {% endfor %}
    </tbody>
</div>
{% endblock %}