{% extends "layout.html" %}

{% block content %}
<div id="content-tree-api" class="content-text">
  <h1>API &amp; Open Source</h1>
  <p>Das Projekt mobil-bei-uns.de ist OpenSource Software. Es basiert auf dem Python-Web-Framework Flask und benötigt eine MySQL Datenbank. Die Quelldaten <a href="https://github.com/OpenRuhr/verkehrs-karte/">liegen auf Github</a>, Patches sind willkommen.</p>
  <p>Die Daten von mobil-bei-uns.de sind über eine offene Schnittstelle (API) abrufbar. Die Lizenz jedes einzelnen Datensatzes steht in den licence-Feldern.</p>
  <p>Die Liste aller Verkehrsbehinderungen erhält man unter /construction-list, welches ein JSON zurückgibt:</p>
  <p><pre>
[
  {
    'id': ID der Verkehrsbehinderung, Integer
    'lat': Geographische Breite, Float
    'lon': Geographische Länge, Float
  },
  ...
]
  </pre></p>
  <p>Mit der ID kann man dann weitere Informationen zu den einzelnen Verkehrsbehinderungen abfragen. Unter /construction-details?id=CONSTRUCTION_ID erhält man folgendes JSON</p>
  <p><pre>
{
  'id': ID der Verkehrsbehinderung, Integer
  'descr': Beschreibung, String(35000)
  'lat': Geographische Breite, Float
  'lon': Geographische Länge, Float
  [...]
}
  </pre></p>
</div>
{% endblock %}