{% extends "layout.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/default.js')}}?v=0.1.4"></script>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul id="flashes" class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message|safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div id="map"></div>
  <div id="details">
    <span id="close-sidebar" onclick="close_sidebar();">schließen</span>
    <h2>Willkommen!</h2>
    <p>Sie wollen wissen, wo es aktuell Verkehrsbehinderungen gibt? Wir zeigen Ihnen die Verkehrsbehinderungen einiger Städte.</p>
    <h3>Wussten Sie schon ...</h3>
    <p>... dass Elektroautos beim Stop and Go im Stau oder in der Stadt hocheffektiv sind - ganz im Gegensatz zu Benzin- und Dieselfahrzeugen? Der Grund: E-Autos gewinnen bei jeder Bremsung Energie zurück (Rekuperation). <a href="http://ruhrmobil-e.de/">Mehr Informationen.</a></p>
  </div>
{% endblock %}