{% extends "layout.html" %}

{% block content %}
<div id="content-tree-info" class="content-text">
  <h1>Informationen</h1>
  <p><img src='/static/img/under_construction.svg' alt='Baustelle' />Baustelle</p>
  <h2>Die Hintergründe</h2>
  <p>Verkehrskarte.de stellt aktuelle Baustelleninformationen für Moers dar. Ziel ist es über Schnittstellen zukünftig Informationen für weitere Städte anzubinden.</p>
  <p>Bei Verkehrskarte.de handelt es sich um ein OpenData und OpenSource Projekt mit einer offenen API. Details hierzu finden sich <a href="/api">auf einer separaten Seite.</a> Dort ist u.a. auch beschrieben, wie die Stadt-Daten abgerufen wurden.</p>
</div>
{% endblock %}