
#region {
  float: right;
  color: #FFFFFF;
  margin-bottom: 0;
}

#region .subregion {
  color: #999999;
}

#navbar a {
  color: #FFFFFF;
}

#navbar a:hover {
  color: #333333;
  background-color: #FFFFFF;
}

#navbar .navbar-nav ul li ul {
  padding: 0;
  list-style: none;
}

#navbar .navbar-nav ul li ul li {
  padding-left: 25px;
}

#navbar .navbar-nav ul li ul li a:before {
  content: "• ";
  color: #FFFFFF;
}

#navbar .navbar-nav ul li ul li:hover a:before {
  color: #333333;
}

#navbar .navbar-nav ul li ul li:hover {
  color: #333333;
  background-color: #FFFFFF;
  cursor: pointer;
}

#navbar .navbar-nav ul li ul li:hover a {
  color: #333333;
  text-decoration: none;
}

#navbar {
  border: 0 !important;
  background-color: rgba(0,0,0,0.8);
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

#navbar .navbar-nav > li > a {
  font-size: 18px;
}

@media (max-width:767px) { 
  .custom-navbar .navbar-right {
    float: right;
    padding-right: 15px;
}
  .custom-navbar .nav.navbar-nav.navbar-right li {
    float: right;
}
  .custom-navbar .nav.navbar-nav.navbar-right li > a {
    padding:8px 5px;
}
  .custom-navbar .navbar-toggle {
    float: left
}
  .custom-navbar .navbar-header {
    float: left;
    width: auto!important;
}
  .custom-navbar .navbar-collapse {
    clear: both;
    float: none;
}
}

.content-text a {
  color: #000000;
  text-decoration: underline;
}

.content-text a:hover {
  color: #000000;
  text-decoration: none;
}

h2 {
  margin-top: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#details {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 24px;
  width: 290px;
  background-color: rgba(0,0,0,0.8);
}

#footer {
  color: #FFFFFF;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 24px;
  width: 290px;
  background-color: rgba(0,0,0,0.8);
  z-index: 2000;
  text-align: center;
}

#footer a {
  color: #FFFFFF;
}

#details h3 {
  font-size: 14px;
  background-color: rgba(255,255,255,0.1);
  text-align: center;
  padding: 3px 0px;
  margin: 8px 0px 3px 0px;
}

#details p, h2 {
  padding: 0px 10px;
  margin-bottom: 5px;
}

#details div p {
  min-height: 41px;
  padding-left: 45px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: 10px 0;
}

#details div a {
  text-decoration: underline;
}

#details div a:hover {
  text-decoration: none;
}

#report-change, #report-image {
  margin-top: 0px;
  text-align: center;
  font-style: italic;
}

#report-change span, #report-image span {
  cursor: pointer;
}

#report-change input, #report-change select, #report-image input, #report-image select {
  background-color: transparent;
  border: 1px solid #999999;
  margin-top: 3px;
}

#details * {
  color: #FFFFFF;
}

#close-sidebar {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

#details-team {
  font-style: italic;
}

select {
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #666666;
  width: 270px;
}

.content-text {
  margin: 50px 20px;
}

#content-tree-form form {
  margin-bottom: 20px;
}

#new-tree-map {
  margin-top: 20px;
  height: 500px;
}

#content-tree-info img {
  margin-right: 20px;
}

#content-admin a {
  color: #000000;
}
#content-admin .admin-action span {
  cursor: pointer;
}

#content-admin span {
  position: relative;
}

#content-admin .admin-picture span img {
  position: absolute;
  top: 20px;
  left: 0px;
  display: none;
  z-index: 10;
  border: 1px solid #000000;
}

#content-admin .admin-picture span:hover img {
  display: inline;
}

#flashes {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5px 0;
  background-color: #006600;
  background-color: rgba(0, 60, 0, 0.8);
  z-index: 10;
  color: #FFFFFF;
  margin: 0;
  padding: 10px;
  padding: 10px;
  font-size: 20px;
}

.error {
  color: #A94442;
}

.help-block a {
  color: #737373;
}

#picture-cam-toggle {
  margin: 5px 0px;
  font-style: italic;
}

#image-box {
  text-align: center;
}

/* leaflet marker cluster */

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-div-icon {
  height: 35px;
  width: 40px;
  background: url('/static/img/under_construction_icon.png') no-repeat top left;
  border: 0;
}

.leaflet-div-icon strong {
  display: block;
  height: 15px;
  margin-top: 35px;
  line-height: 12px;
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid #000000;
  border-width: 0 1px 1px 1px;
}

